<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>文章内容</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}" />
<link rel="stylesheet" type="text/css" href="/css/editormd.css"
	th:href="@{/css/editormd.css}">
<link rel="icon" href="img/bitbug_favicon.ico" type="image/x-icon"
	th:href="@{/img/bitbug_favicon.ico}">
<link rel="shortcut icon" href="img/bitbug_favicon.ico"
	type="image/x-icon" th:href="@{/img/bitbug_favicon.ico}">
<link rel="stylesheet" type="text/css" href="css/bootstrap.css"
	th:href="@{/css/bootstrap.css}">
<link rel="stylesheet" type="text/css" href="css/content.css"
	th:href="@{/css/content.css}">
<script type="text/javascript" src="js/jquery-3.4.1.js"
	th:src="@{/js/jquery-3.4.1.js}"></script>
<script type="text/javascript" src="js/popper.js"
	th:src="@{/js/popper.js}"></script>
<script type="text/javascript" src="js/bootstrap.js"
	th:src="@{/js/bootstrap.js}"></script>
</head>
<body>
	<!-- 导航栏 -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<img src="/img/80024330_p0_master1200.jpg" width="40px" height="40px" />
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarTogglerDemo02"
			aria-controls="navbarTogglerDemo02" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				<li class="nav-item active"><a class="nav-link" th:href="@{/}">Home
						<span class="sr-only">(current)</span>
				</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Link</a></li>
				<li class="nav-item"><a class="nav-link disabled" href="#"
					tabindex="-1" aria-disabled="true">Disabled</a></li>
			</ul>
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="search"
					placeholder="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>
		</div>
	</nav>
	<div id="Allhtml">
		<div class="container" style="width: 100%;">
			<h3 align="center" th:text="${article.title}">这是一个文章题目</h3>
			<div id="test-editormd-view2" class="bg-light ">
				<textarea id="append-test" style="display: none;"
					th:text="${article.content}">
                </textarea>
			</div>
			<div class="card" th:if="${pageCount} > 0"
				th:each="comment : ${Comments}" th:fragment="commentFragment">
				<div class="card-header" th:text="${comment.sickName}+说：">Quote</div>
				<div class="card-body Markdown" th:id="${comment.id}">
					<textarea name="text" style="display: none;"
						th:text="${comment.content}"></textarea>
				</div>
			</div>
			<nav id="Page" aria-label="Page navigation example" 0th:if="${pageCount} > 0">
				<ul class="pagination">
					<li class="page-item"><a class="page-link" href="#">Previous</a></li>
					<li class="page-item"><a class="page-link" href="#">1</a></li>
					<li class="page-item"><a class="page-link" href="#">2</a></li>
					<li class="page-item"><a class="page-link" href="#">3</a></li>
					<li class="page-item"><a class="page-link" href="#">Next</a></li>
				</ul>
			</nav>



			<div class="border container" style="background-color: #f8f9fa;">
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text"> 昵 称 </span>
					</div>
					<input type="text" class="form-control" placeholder="Username"
						id="usr" name="username" width="20px">
				</div>
				<div id="commentText">
					<textarea id="comment" name="text" style="display: none;"></textarea>
				</div>
			</div>
		</div>
	</div>
	<!-- <script src="/js/jquery.min.js"></script>
        <script src="/lib/marked.min.js"></script>
        <script src="/lib/prettify.min.js"></script>
        <script src="/lib/raphael.min.js"></script>
        <script src="/lib/underscore.min.js"></script>
        <script src="/lib/sequence-diagram.min.js"></script>
        <script src="/lib/flowchart.min.js"></script>
        <script src="/lib/jquery.flowchart.min.js"></script>
	<script type="text/javascript" src="/js/editormd.js"></script> -->
	<script src="/js/jquery.min.js"></script>
	<script src="/js/editormd.min.js"></script>
	<script src="/lib/marked.min.js"></script>
	<script src="/lib/prettify.min.js"></script>
	<script src="/lib/raphael.min.js"></script>
	<script src="/lib/underscore.min.js"></script>
	<script src="/lib/sequence-diagram.min.js"></script>
	<script src="/lib/flowchart.min.js"></script>
	<script src="/lib/jquery.flowchart.min.js"></script>
	<script type="text/javascript" th:inline="javascript">
    $(function() {
        var testEditormdView2;
        getMarkdown();
        testEditormdView2 = editormd.markdownToHTML("test-editormd-view2", {
            htmlDecode      : "style,script,iframe",  // you can filter tags decode
            emoji           : true,
            taskList        : true,
            tex             : true,  // 默认不解析
            flowChart       : true,  // 默认不解析
            sequenceDiagram : true,  // 默认不解析
        })
        });
    function getMarkdown(){
    	var Markdowns = document.querySelectorAll(".Markdown");
    	var i,len,Markdown,id;
    	for(i = 0,len = Markdowns.length;i < len;i++){
    		Markdown = Markdowns.item(i);
    		id = Markdown.id;
    		var testEditormdView2 = editormd.markdownToHTML(id, {
                htmlDecode      : "style,script,iframe",  // you can filter tags decode
                emoji           : true,
                taskList        : true,
                tex             : true,  // 默认不解析
                flowChart       : true,  // 默认不解析
                sequenceDiagram : true,  // 默认不解析
            })
    	}
    };
    <!--动态添加分页页数-->
    function getCommentPage(){
    	var insertHtmlText;
    	var PageCount = [[${pageCount}]];
    	for(var i = 0; i < PageCount;i++){
    		insertHtmlText += 
    	}
    	document.querySelector("#Page").querySelector("li").insertAdjacentHTML("afterend",);
    }
</script>
	<script type="text/javascript">
			var testEditor;
		    $(function() {
		        testEditor = editormd("commentText", {
		            width   : "90%",
		            height  : 640,
		            syncScrolling : "single",
		            path    : "/lib/",
		            saveHTMLToTextarea: true,
		            autoFocus:false,
		            codeFold : true,
                    emoji : true,
                    taskList : true,
                    searchReplace : true,
                    tex : true,                   // 开启科学公式TeX语言支持，默认关闭
                    flowChart : true,             // 开启流程图支持，默认关闭
                    sequenceDiagram : true,       // 开启时序/序列图支持，默认关闭,
                    saveHTMLToTextarea: true,
                    imageUpload : true,
                    imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                    imageUploadURL : "/saveimg",
                    toolbarIcons : function() {
                        return ["undo", "redo", "|","bold", "italic","ucwords","uppercase","lowercase","|"
                        	,"h1","h2","h3","h4","h5","h6","|","list-ul","list-ol","table","datetime","hr","|",
                        	"link","reference-link","image","code","preformatted-text","code-block","emoji","html-entities","pagebreak","goto-line","|","watch", 
                        	"fullscreen", "preview","help","info","|","releaseIcon"]
                    },
                    toolbarIconTexts : {
                        releaseIcon : "<span class='button text-primary bg-light'>发布</span>"
                    },

                    /*给自定义按钮指定回调函数*/
                    toolbarHandlers:{
                        releaseIcon : function(cm, icon, cursor, selection) {
                                contentCommit();
                        }
                    }
                });
            });
		</script>
	<script th:inline="javascript">
	/*<![CDATA[*/
		function contentCommit() {
			var nickName = document.getElementById("usr");
			var commentText = document.getElementById("comment");
			var articleID =  [[${article.id}]];
		            $.ajax({
		                type: "POST",//方法类型
		                dataType: "json",//预期服务器返回的数据类型
		                url: "/saveComment" ,//url
		                data: {"nickName":nickName.value,"commentText":commentText.value,"articleID":articleID},
		                success: function (result) {
		                    console.log(result);//打印服务端返回的数据(调试用)
		                    if (result) {
		                        alert("SUCCESS");
		                        //重新刷新页面
		                        /* $.post("/content",{
		                        	"id":articleID
		                        }); */
		                        location.reload();
		                    };
		                },
		                error : function() {
		                    alert("异常！");
		                }
		            });
		        }
		/*]]>*/
		</script>
	<script type="text/javascript">
			var pageCount = [[${pageCount}]];
		</script>
	<script src="/js/autoload.js"></script>
</body>
</html>
